// 
// --------------------------------------------------

// qupel
// --------------------------------------------------
.qupel
	padding: 40px 0 50px
	background: url("../img/sexy_bg.jpg")
	+box-shadow(inset 0px -3px 20px #673812)
	+cover

.texture
	padding: 40px 0 50px
	background: url("../img/texture.jpg")
	+cover

.prod-i
	margin-left: -15px
	margin-bottom: 30px
	font-size: 0

.prod
	width: 170px
	margin-left: 15px
	margin-bottom: 15px
	display: inline-block
	vertical-align: top
	@include border-radius(5px)
	@include box-shadow(0 3px 5px rgba(52,22,5,.85))
	overflow: hidden
	.prod__item
		background: #FFF
	.prod__media
		width: 170px
		height: 170px
		line-height: 170px
		text-align: center
		img
			display: inline-block
	.prod__price
		padding-bottom: 10px
		font-size: 24px
		font-weight: bold
		text-align: center
		color: $gray
		sup
			font-size: 18px
			vertical-align: top
	.prod__descr
		padding: 10px 10px 13px
		background: $green
		text-align: center
		span
			display: inline-block
			min-height: 55px
			margin-bottom: 10px
			font-size: 16px
			line-height: 1.2
			color: #FFF

.product-i

.product
	margin-bottom: 15px
	@include border-radius(5px)
	@include box-shadow(0 3px 5px rgba(52,22,5,.85))
	background: #FFF
	display: table
	.product__left
		width: 390px
		padding: 5px
		display: table-cell
		+clr
	.product__right
		width: 140px
		display: table-cell
		vertical-align: middle
		text-align: center
		background: $green
		border-radius: 0 5px 5px 0
	.product__img
		width: 120px
		height: 120px
		line-height: 120px
		margin-right: 10px
		float: left
		overflow: hidden
		text-align: center
		&:hover
			+opacity(0.8)
	.product__desc
		overflow: hidden
		font-size: 12px
		line-height: 1.4 
		color: $gray
	.product__title
		margin-bottom: 5px
		font-size: 16px
		font-weight: bold
		color: $gray
		text-decoration: none
		&:hover
			text-decoration: underline
		a
			color: $gray
			text-decoration: none
			&:hover
				text-decoration: underline
	.product__price
		margin-bottom: 10px
		font-size: 24px
		font-weight: bold
		color: #FFF 

		

	

.sexy-img
	width: 520px
	height: 250px
	line-height: 250px
	margin: 0 10px
	overflow: hidden
	+box-shadow(0 0 0 10px rgba(#000, .5))
	img
		width: 100%

.btn
	display: inline-block
	padding: 6px 19px
	border: 1px solid #d74040
	+box-shadow(0 2px 0 #d74040)
	border-radius: 5px
	+g(#fab658, #de5640)
	font-size: 14px
	+ibc
	@include text-shadow(0 -1px 0px rgba(#000, .15))
	text-transform: uppercase
	text-decoration: none
	color: #fff
	&:hover
		+g(#faeb58, #de8540)
	&:active
		position: relative
		top: 2px
		+box-shadow(none)

.basket
	background-color: #fff
	@include border-radius(5px)
	+box-shadow(0 3px 5px rgba(52,22,5,.85))
	.basket__top
		background: #FA624D
		@include border-radius(5px 5px 0 0)
		color: #FFF
		text-align: center
		+ib
		position: relative
		&:after
			content: ""
			+s(i-basket_2)
			position: absolute
			bottom: 5px
			left: 7px
		span
			display: inline-block
			padding: 8px 0 28px
	.basket__in
		padding: 11px 13px 0
	.basket__item
		margin-top: 15px
		font-size: 12px
		color: $gray
		&:first-child
			margin-top: 0
	.basket__itemprod
		margin-bottom: 3px
		+text-overflow
	.basket__itemprice
		font-weight: bold
		.basket__itemnum
			margin-right: 10px
			font-weight: normal
		sup
			display: inline-block
			vertical-align: top
			margin-top: -2px
			margin-left: 1px
	.basket__price
		color: $gray 
		padding: 9px 0 13px
		text-align: center
		font-size: 12px
	.basket__pricein
		margin: 0px 7px 8px
		padding: 9px 0 0
		margin-bottom: 13px
		position: relative
		&:after
			content: ""
			width: 100%
			height: 4px
			background: url(../img/basket_line.jpg) repeat-x
			position: absolute
			top: 0
			left: 0
	.basket__pricesumm
		font-weight: bold
		sup
			display: inline-block
			margin-top: -2px
			margin-left: 1px
			vertical-align: top

.contentindex
	padding: 50px 0 110px
	background: url(../img/pattern.jpg) repeat
	.contentindex__in
		position: relative
		@extend %in
	.contentindex__sidebar
		width: 220px
		// position: absolute
		// bottom: 0
		// left: 0

.list
	margin-bottom: 40px
	.list__meta
		margin-bottom: 5px
		font-size: 18px
		color: #453E3E
		@include text-shadow(0 1px 1px rgba(255,255,255,.99))
	li
		margin-bottom: 5px
		a
			font-size: 14px
			color: #1c39a5
			text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2)
			&:before
				content: ""
				width: 6px
				height: 6px
				margin-right: 12px
				border-radius: 50%
				background: $green 
				display: inline-block
			&:hover
				text-decoration: none
	.list__more
		font-size: 12px
		color: #1c39a5
		&:hover
			text-decoration: none

.tab
	.tab__nav
		border-radius: 5px 5px 0 0
		overflow: hidden
		+clr
		li
			width: 50%

			float: left
			background: #3678C2
			text-align: center
			&.is-active
				position: relative
				background: #FDF6EE
				a
					color: #FE8300
				.tab__link1
					&:after
						content: ""
						width: 10px
						height: 28px
						background: url(../img/tab_border1.png)
						position: absolute
						top: 0
						right: -5px
				.tab__link2
					&:after
						content: ""
						width: 10px
						height: 28px
						background: url(../img/tab_border2.png)
						position: absolute
						top: 0
						left: -5px
	.tab__link
		display: block
		padding: 4px 0
		font-size: 12px
		text-decoration: none
		color: #FFF 
		+ib
	.tab__content
		padding: 12px
		background: #FDF6EE
		border-radius: 0 0 5px 5px
		&.is-active
		img
			display: block

.inshop
	.title
		margin-top: 2px
		margin-bottom: 3px
		padding-bottom: 7px
	.inshop__in
		overflow: hidden
		padding: 25px 0
	.inshop__row 
		width: 100%
		margin-left: -9px
		border-top: 1px dotted #fa624d 
		display: table
		&:first-child
			border-top: none
			li
				padding-top: 0
		ul
			display: table-row
		li
			width: 156px
			padding-top: 15px
			border-left: 1px dotted #fa624d
			display: table-cell
	.inshop__item
		margin: 0 9px 0 8px
	.inshop__media
		width: 134px
		height: 134px
		margin-bottom: 10px
		overflow: hidden
		border: 3px solid $green
		border-radius: 5px
		&:hover
			+opacity(0.8)
		img
			display: block
	.inshop__title
		padding-bottom: 10px
		font-size: 18px
		line-height: 1
		color: $green
		+ib
		a
			font-size: 18px
			color: $green
			+ib
			text-decoration: none
			&:hover
				text-decoration: underline

.slist
	overflow: hidden
	.title
		margin-bottom: 20px
	.slist__row
		width: 100%
		margin-left: -10px
		display: table
	ul
		display: table-row
	li
		display: table-cell
		width: 159px
		border-left: 1px dotted orange
	.slist__title
		margin-bottom: 5px
		padding: 0 9px 
		color: $green
		font-size: 18px
		line-height: 1
		+ib
		a
			color: $green
			font-size: 18px
			line-height: 1.2
			+ib
			text-decoration: none
			&:hover
				text-decoration: underline
	.slist__content
		padding: 0 9px 
		font-size: 12px
		color: $gray

.forus
	padding: 55px 0 28px
	background: url(../img/forus_bg.jpg) repeat
	position: relative
	&:after, &:before
		content: ""
		height: 25px
		position: absolute
		left: 0
		right: 0
	&:after
		background: url(../img/shadow_t.png) repeat
		top: 0
	&:before
		background: url(../img/shadow_b.png) repeat
		bottom: 0
	.forus__in
		@extend %in
		+clr
	.forus__left
		width: 460px
		padding: 0 10px
		float: left
	.forus__right
		width: 380px
		padding: 0 10px
		float: right
	.forus__title
		padding-bottom: 10px
		margin-bottom: 16px
		border-bottom: 4px double #fff
		font-size: 24px
		line-height: 1.2
		color: #FFF 
		+ib
		span
			display: inline-block
	.forus__content
		padding-bottom: 160px
		font-size: 16px
		line-height: 1.5
		color: #FFF
		position: relative
		&:after
			content: ""
			width: 381px
			height: 165px 
			background: url("../img/quality_guarantee.png")
			position: absolute
			left: 0
			bottom: 0
		p
			margin-bottom: 24px

.reviews
	.reviews__title
		padding-bottom: 5px
		margin-bottom: 16px
		border-bottom: 4px double #fff
		font-size: 24px
		line-height: 1.2
		color: #FFF 
		+ib
		span
			margin-top: 34px
			display: inline-block
	.reviews__item
		margin-top: 54px
		+clr
	.reviews__itemleft
		width: 140px
		margin-right: 20px
		float: left
		text-align: center
	.reviews__itemmedia
		width: 72px
		height: 72px
		margin-left: auto
		margin-right: auto
		margin-bottom: 4px
		padding: 4px
		background: #FFF
		border-radius: 50%
		overflow: hidden
	.reviews__itemava
		display: block
		height: 100%
		border-radius: 50%
	.reviews__itemsdescr
		font-size: 12px
		color: #FFF 
	.reviews__itemright
		width: 220px
		float: left
		position: relative
		bottom: 31px
	.reviews__comment
		padding: 10px
		background: #FFF
		border-radius: 3px 3px 3px 0
		font-size: 12px
		line-height: 1.5 
		color: #5F5E5E
		position: relative
		&:after
			content: ""
			position: absolute
			left: -20px
			bottom: 0
			+arr(20,14,#fff,bottom-right)

.size
	margin-bottom: 20px
	padding: 15px
	background: rgba(#000, .5)
	font-size: 14px
	color: #FFF
	.size__row
		margin-bottom: 3px
	.size__meta
		display: inline-block
		margin-right: 5px
		margin-bottom: 5px
		font-weight: bold
	.size__filter
		display: inline-block
		margin-right: 5px
		margin-bottom: 5px
		text-decoration: underline
		cursor: pointer
		&:hover
			text-decoration: none
	.size__pagi
		+clr
		li
			float: left
		a
			display: block
			width: 18px
			height: 17px
			border: 1px solid transparent
			text-align: center
			color: #FFF
			text-decoration: none
			&.is-active
				border-color: #FFF
		.size__pagiprev, .size__paginext 
			margin-top: -2px
		

	


		
	





